@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f3f3f3;
  --primary: #bf1944;
  --secondary: #19bf94;
  --secondary-hover: #39d5ac;
  --text-body: #696969;
  /* --header-background: #fecdd3; */
  --header-background: #4c0519;
  --header-background-shadow: #fda4af;
  --contact-background: #f9e8ec;
  --social-hover-highlight: #ecbac7;
}

@media (prefers-color-scheme: light) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed; */
    /* --background: #ededed;
    --foreground: #0a0a0a; */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: sans-serif;
}

/* header p, .headerTitle p {
  color: var(--text-body);
}

.headerTitle {
  z-index: 1;
} */

/* .headingBackground::after {
  content: "";
  position: absolute;
  background-color: var(--header-background);
  -webkit-box-shadow: 0 0 8px var(--header-background-shadow);
          box-shadow: 0 0 8px var(--header-background-shadow);
  height: 15px;
  left: 8px;
  bottom: 0;
  width: 100%;
  z-index: -1;
} */

/* .headerTitle h1, .headerTitle h2 {
  color: var(--primary);
  position: relative;
  width: fit-content;
}

.headerTitle h1::after, .headerTitle h2::after {
  content: "";
  position: absolute;
  background-color: var(--header-background);
  -webkit-box-shadow: 0 0 8px var(--header-background-shadow);
          box-shadow: 0 0 8px var(--header-background-shadow);
  height: 15px;
  left: 8px;
  bottom: 0;
  width: 100%;
  z-index: -1;
} */

/* .contact-section input, .contact-section textarea {
  border: 2px solid var(--header-background-shadow);
} */

/* .contact-section button {
  background-color: var(--secondary);
} */

/* .contact-section button:hover {
  background-color: var(--secondary-hover);
} */
 #tech-container svg {
  max-width: 75px;
 }
