@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    /* --background: #ededed;
    --foreground: #0a0a0a; */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: sans-serif;
}

footer {
  background-color: rgb(139,30,66);
}

.social-icon:hover {
  color: #d5d5d5;
}

header p {
  color: #696969;
}

header .headerTitle {
  z-index: 1;
}

header .headerTitle h1 {
  color: rgb(179,39,66);
  /* font-size: 3rem;
  font-weight: 700; */
  /* margin: 10px 0; */
  position: relative;
  /* max-width: 200px; */
  /* width: 80%; */
}

header .headerTitle h1::after {
  content: "";
  position: absolute;
  background-color: #ffe9e9;
  -webkit-box-shadow: 0 0 8px #ffd6d6;
          box-shadow: 0 0 8px #ffd6d6;
  height: 15px;
  left: 8px;
  bottom: 0;
  width: 100%;
  z-index: -1;
}
